<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Restaurant Apps Starter Project</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>

  <header>
    <nav class="navbar relative">
      <div class="d-flex brand">
        <div>&#9749;</div>
        <div class="logo">Gluttony</div>
      </div>

      <button id="toggle-dropdown" class="drawer-icon">&#9776;</button>

      <ul class="nav-links">
        <li>
          <a class="nav-link" href="">Home</a>
        </li>
        <li>
          <a class="nav-link" href="#">Favourite</a>
        </li>
        <li>
          <a class="nav-link" href="https://www.linkedin.com/in/melvin-jovano-7b74891a4/" target="_blank">About Us</a>
        </li>
      </ul>

      <div class="logo-dropdown absolute dropdown bg-primary">
        <div class="my-15">
          <a class="nav-link-dropdown" href="">Home</a>
        </div>
        <div class="my-15">
          <a class="nav-link-dropdown" href="#">Favourite</a>
        </div>
        <div class="my-15">
          <a class="nav-link-dropdown" href="https://www.linkedin.com/in/melvin-jovano-7b74891a4/" target="_blank">About Us</a>
        </div>
      </div>
    </nav>

    <section>
      <img src="./images/heros/hero-image_4.jpg" class="d-block hero img-cover " alt="hero image">
    </section>
  </header>

  <main id="main-content">
    <div class="my-15">
      <h1 class="text-center">Explore Restaurant</h1>
      
      <center>
        <div style="max-width: 80%;" class="my-15 cards" id="cards"></div>
      </center>

    </div>
  </main>

  <footer class="bg-primary text-center">
    Copyright © 2020 - Gluttony Software
  </footer>

</body>
</html>
